
 
.container {
   
 
    display:grid;
    gap: 0.3rem;
    /* grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr  ;
    grid-template-rows: 1fr 0.5fr 1fr 1fr; */
    grid-auto-flow: row dense;
    margin: auto;
    max-width: 70%;
    border: solid 5px black;
    background-color: gray;
    padding: 0.5rem;
}
 
img {
     width: 100%;
    height: 100%;
    object-fit: cover;
}
    .box:nth-child(4n){
     
        grid-column: span 3;
    }

    .box:nth-child(3n){
     
        grid-row: span 2;
    }
    
  